<!DOCTYPE html>
<html>
    <head>
        <title>Awesome jobboard app!</title>
    </head>

    <body>
        <nav>
            <a href="#">Index</a>
            <a href="#">Add Vacancy</a>
            <a href="#">Companies</a>
            <a href="#">Add Company</a>
        </nav>
        <h1>Vacancies list</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Level</th>
                <th>Expirience</th>
                <th>Salary</th>
            </tr>
            <tr>
                <td>Python Developer</td>
                <td>EPAM</td>
                <td>Junior</td>
                <td>0+ years</td>
                <td>Up to 1000 USD</td>
            </tr>
            <tr>
                <td>Javascript Developer</td>
                <td>Itechart</td>
                <td>Senior</td>
                <td>5+ years</td>
                <td>4000 - 5000 USD</td>
            </tr>
            <tr>
                <td>Data Engineer</td>
                <td>Amazon</td>
                <td>Middle</td>
                <td>3+ years</td>
                <td>From 3000 USD</td>
            </tr>
        </table>
    </body>
</html>