{% extends "base.html" %}
{% block content %}
    <form method="GET" action="{% url 'index' %}">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="submit"><br>
    </form>
    <h1>Vacancies list</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Level</th>
            <th>Expirience</th>
            <th>Salary</th>
        </tr>
        {% for vacancy in vacancies.data %}
            <tr>
                <td><a href="{% url 'vacancy' vacancy.id %}">{{ vacancy.name }}</a></td>
                <td>{{ vacancy.company.name }}</td>
                <td>{{ vacancy.level.name }}</td>
                <td>{{ vacancy.expirience }}</td>
                {% if vacancy.min_salary and vacancy.max_salary %}
                    <td>{{ vacancy.min_salary }} - {{ vacancy.max_salary }} USD</td>
                {% elif vacancy.min_salary and not vacancy.max_salary %}
                    <td>From {{ vacancy.min_salary }} USD</td>
                {% elif not vacancy.min_salary and vacancy.max_salary %}
                    <td>Up to {{vacancy.max_salary}} USD</td>
                {% elif not vacancy.min_salary and not vacancy.max_salary %}
                    <td>Undisclosed salary</td>
                {% endif %}
                <!-- 
                if min_salary and max_salary:
                    1000 - 2000 USD
                elif min_salary and not max_salary:
                    From 1000 USD
                elif not min_salary and max_salary:
                    Up to 5000 USD
                elif not min_salary and not max_salary:
                    Undisclosed salary
                -->
            </tr>
        {% endfor %}
    </table>
    {% if vacancies.prev_page is not None %}
        <a href="{% url 'index' %}?page={{ vacancies.prev_page }}">Prev</a>
    {% endif %}
    {% if vacancies.next_page is not None %}
        <a href="{% url 'index' %}?page={{ vacancies.next_page }}">Next</a>
    {% endif %}
{% endblock %}